@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lato:wght@300&family=Poppins&display=swap');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
:root {
    --main-color: #FAD02C ;
    --bg-color: #333652 ;
    --secondary-color: #90ADC6 ;
    --heading-font: 'Dancing Script',cursive;
    --title-font: 'Poppins', sans-serif;
    --sub-heading-font: 'Lato', sans-serif; 
}
body {
    margin: 0; padding: 0;
    max-width: 100%; height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   background: linear-gradient(50deg, var(--bg-color),var(--secondary-color));
}
/* audio element hidden by default */
audio {
    display: none;
}
input {
    cursor: pointer;
}
/* input slider thumb styling */
::-webkit-slider-thumb {
    appearance: none; position: relative;
    background:var(--main-color);
    width: 11px; height: 11px;
    border-radius: 50px;
    border: 1px solid var(--main-color);
    cursor: pointer;
}
::-webkit-slider-thumb::before {
    content: "";
    position: absolute;
    width: 100%; 
    color: var(--main-color);
    height: 100%; background: var(--main-color);
}
button {
    transition: all .2s;
}
button:hover {
    background: var(--main-color) !important; color: var(--bg-color) !important;
}

/* loader naimation started */
#loader_container {
    width: 100%;
    height: 100vh; 
    position: absolute;
    z-index: 1;
    display: flex; align-items: center;
    justify-content: center;
    background: linear-gradient(50deg, var(--secondary-color),var(--bg-color));
}
.loader {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    border: 2px solid var(--secondary-color);
    border-bottom: 6px solid var(--main-color);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    animation: loading 2s ease-in-out infinite;
    -webkit-animation: loading 2s ease-in-out infinite;
}
@keyframes loading{
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}
/* loader animation edned */
/* parent container styling */
.parent_container {
    width: 80%;
    height: auto;
    padding: 12px 5px;
    background: linear-gradient(50deg, var(--secondary-color),var(--bg-color));
    border-radius: 10px;
}

/* brand section styling */
.brand_section {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand_section a{
    margin: 0 30px;
    text-decoration: none;
    color: #ececec;
    font-family: var(--title-font);
}
.brand_section a.title {
    font-family: var(--heading-font);
    font-size: 60px;
    text-shadow: 0 0 3px var(--bg-color);
}
.brand_section .slides {
    background-color: #0101016e;
    padding: 6px 31px;
    border-radius: 7px;
    font-size: 17px;
}
.brand_section .slides .current_slide{
    font-size: 24px;
    
    color: var(--main-color);
}

/* brand section styling ended */
.container{
    min-width: 100% !important;
    margin: 0 !important;
    display: flex; 
    justify-content: space-around;
    align-items: center;
}
.row {
    width: 100%;
    margin: 60px 0 0 0;

}
.row .col{
    height: 100% !important;
}
.container .col .img_container {
    width: 100%; height: 300px;
}
.container .col .img_container img{
    width: 80%; height: 100%;
    margin: 0 10%;
    background-size: cover; background-position: center;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--secondary-color);
}
 .img_container input {
    display: none;
}
/* volume buttons section in desktop */
.container-fluid {
    display: flex;
    justify-content: center; align-items: center;
    margin: 50px 0;
}
.container-fluid button {
    width: 40px; height: 40px;
    position: relative;
    margin: 0 5px;
    border: none; outline: none;
    background: var(--bg-color); color: var(--main-color);
    font-size: 20px;
    border-radius: 50px;
}
 input {
    margin: 0 5px;
    background: none;
    display: flex;
    align-items: center;
    appearance: none;
    position: relative;
}
 input::before {
    content: "";
    position: absolute;
    width: 100%; height: 2px;
    background: var(--bg-color);
}

.container-fluid #songvolumedesktop {
    transition: all .5s !important;
    -webkit-transition: all .5s !important;
    -moz-transition: all .5s !important;
    -ms-transition: all .5s !important;
    -o-transition: all .5s !important;
}
/* left section stylign started */
div.col .display-4 {
    color: var(--main-color);
    font-size: 3.2vw;
    text-align: center;
}
div.col p.lead {
    font-family: var(--sub-heading-font);
    font-size: 20px;
    text-transform: capitalize;
}

/* <!-- action btns section started --> */
.action_btns {
    /* background: green; */
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.action_btns button {
    width: 50px; height: 50px;
    background: var(--bg-color); color: var(--main-color);
    font-size: 17px;
    border-radius: 50px;
    border: none; outline: none;
    margin: 0 10px;
}
/* pause button hidden by default */
.action_btns .pause {
    display: none;
}
.song_duration {
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0  ;
}
.song_duration input{
    width: 50%;
}
/* volume buttons section in mobile */
.volume_section_mobile {
    display: none;
}

.main {
    background-color: var(--main-color) !important;
    color:var(--bg-color) !important;
}
#durationmobile {
    display: none ;
}
/* media queries started */
@media (max-width: 2560px){
    .parent_container {
        width: 80%;
        padding: 10px 30px 60px;
        height: auto;
    }
    .brand_section a.title {
        font-size: 4vw;
    }
    .row {
        width: 100%;
        margin: 60px 0 0 0!important;
    }
    .brand_section .slides {
        padding: 10px 61px;
        border-radius: 7px;
        font-size: 1vw;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
}
    .brand_section .slides .current_slide{
        font-size: 1.5vw;

    }
    .img_container {
        height: 500px !important;
    }
    .img_container img {
        width: 100%; margin: 0;
    }
    .volume_section_desktop {
        margin:50px 0;
    }
    .volume_section_desktop button {
        width: 70px ; height: 70px;
        font-size: 1vw;
        margin: 0 10px;
    }
    #songvolumedesktop {
        height: 3px; 
        width: 40%;
    }
   .col .song_name {
        font-size: 5vw !important;
    }
    .col .singer_name {
        font-size:2vw !important;
    }
    .action_btns button {
        width: 90px; height: 90px;
        font-size: 1vw;
    }

}

/* media queries for laptops */
@media (max-width: 1440px){
    .parent_container {
        width: 80%;
        /* padding: 10px 30px 60px; */
        height: auto;
    }
    .brand_section a.title {
        font-size: 4vw;
    }
.row {
        width: 100%;
        margin: 30px 0 0 0!important;
    }
    .brand_section .slides {
        padding: 10px 40px;
        border-radius: 7px;
        font-size: 1.7vw;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
}
    .brand_section .slides .current_slide{
        font-size: 2vw;
    }
    .img_container {
        height: 360px !important;
    }
    .img_container img {
        min-width: 100%; margin: 0 !important;
    }
    .volume_section_desktop {
        margin:25px 0;
    }
    .volume_section_desktop button {
        width: 50px ; height: 50px;
        font-size: 1.5vw;
        margin: 0 6px;
    }
    #songvolumedesktop {
        height: 3px; 
        width: 60%;
    }
   .col .song_name {
        font-size: 5vw !important;
    }
    .col .singer_name {
        font-size:1.7vw !important;
    }
    .action_btns button {
        width: 60px; height: 60px;
        font-size: 1.5vw;
    }
}

/* for medium screens */
@media (max-width: 1024px){
    .brand_section a.title {
        font-size: 4vw;
    }
    #durationmobile {
        display: none;
    }
    .container {
        min-width: 100% !important;
        margin: 0 !important;
        display: flex; 
        justify-content: space-around;
        align-items: center;
    }.row {
        width: 100%;
        margin: 10px 0 0 0!important;
    }
    .brand_section .slides {
        padding: 10px 30px;
        border-radius: 7px;
        font-size: 1.5vw;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
}
    .brand_section .slides .current_slide{
        font-size: 1.7vw;
    }
    .img_container {
        height: 150px !important;
    }
    .img_container img {
        min-width: 100%; margin: 0 !important;
    }
    .volume_section_desktop {
        margin:25px 0 0 0;
    }
    .volume_section_desktop button {
        width: 50px ; height: 50px;
        font-size: 1.5vw;
        margin: 0 6px;
    }
    .volume_section_desktop input {
        width: 50% !important;
    }
    #songvolumedesktop {
        height: 3px; 
        width: 60%;
    }
   .col .song_name {
        font-size: 5.1vw !important;
    }
    .col .singer_name {
        font-size:1.7vw !important;
    }
    .action_btns {
        height: 80px;
        margin: 20px 0 !important;
    }
    .action_btns button {
        width: 60px; height: 60px;
        font-size: 2vw;
    }
}

/* tablets */
@media (max-width:768px){
    .parent_container {
        padding: 10px;
    }
    .img_container {
        height: 180px !important;
    }
   .brand_section .slides {
        padding: 7px 23px ;
        font-size: 1.2vw;
    }
   .brand_section .current_slide {
        font-size:1.6vw ;
    }
    .volume_section_desktop {
        margin:30px 0;
    }
    .volume_section_desktop button {
        width: 35px; height: 35px;
        font-size: 1.6vw;
    }
    #songvolumedesktop {
        width: 50% ;
    }
    .singer_name {
        font-size: 1.5vw;
    }
    .action_btns {
        height: 50px;
    }
    .action_btns button {
        width: 40px; height: 40px;
        font-size: 1.7vw;
    }
    #songdurationdesktop {
        width: 60%;
    }
    #durationmobile {
        display: none !important;
    }
}
@media (max-width: 767px){
    .volume_section_desktop {
        display: none !important;
    }
    .brand_section a.title {
        font-size: 6vw !important;
    }
    .img_container {
        max-width: 70%;
        margin: 0 15%;
        display: flex; justify-content: center;
    }
    .img_container img {
        min-width: 120px !important;
        border-radius:20px !important ;
        -webkit-border-radius:20px !important ;
        -moz-border-radius:20px !important ;
        -ms-border-radius:20px !important ;
        -o-border-radius:20px !important ;
}
.brand_section .slides {
    font-size: 1.6vw !important;
}
.brand_section .current_slide {
    font-size: 2vw !important;
}
    .row {
        margin: 20px auto !important;
    }
    .img_container {
        height: 130px !important;
    }
    #durationmobile {
        display: block !important ;
        margin: 10px  auto 10px !important ;
    }
    .volume_section_mobile {
        display: flex;
        margin: -10px 0 0 0 !important;
    }
    .volume_section_mobile button {
        width: 30px; 
        height: 30px;
        font-size: 2vw !important;
    }
    #songdurationdesktop {
        display: none;
    }
    .singer_name {
        margin: 0 !important;
    }
    .col:last-child {
        align-items: center;
        justify-content: center;
    }
    .action_btns {
        height: auto;
        margin: 12px !important;
    }
    .action_btns button {
        font-size: 2vw !important;
        width: 30px; height: 30px;
    }
}
@media (max-width: 425px){
    .parent_container {
        padding: 10px !important;
    }
    .img_container{
        height: 150px !important;
        
    }
    
    .img_container img {
        clip-path: circle(34.2% at 50% 50%);
}
.brand_section a.title {
    font-size: 6vw !important;
}
.brand_section .slides {
    padding: 7px 25px ;
    font-size: 2vw !important;
}
.brand_section .current_slide {
    font-size:3vw !important ;
}
.volume_section_desktop {
    display: none;
}

.col .song_name {
    font-size: 7vw !important;
    margin: 20px 0 0 0;
}
.singer_name {
    font-size: 5vw;
}
.action_btns {
    height: 50px;
}
.action_btns button {
    width: 30px; height: 30px;
    font-size: 2.2vw;
}
#songdurationdesktop {
    display: none;
}
#durationmobile {
    display: block !important;
  
    margin: 10px  auto 0 !important ;
}
.col:last-child {
    padding: 10px 0 0 0 ;
}
.volume_section_mobile {
    display: flex;
    margin: 0 !important;
}
.volume_section_mobile button {
    width: 30px; height: 30px;
    font-size: 2.2vw;
}
.song_name {
    margin:20px 0 0 0!important;
}
.singer_name {
    margin: 0 !important;
}
.action_btns {
   margin: 20px 0 0 0 !important;
    height: auto !important;
}
.volume_section_mobile {
    margin: -14px 0 0 0 !important;
}
}

@media (max-width: 375px){
    .row {
        margin: 5px 0 !important;
    }
    .volume_section_mobile input {
        width: 40% !important;
    }
    .col .singer_name {
        font-size: 3vw !important;
    }
    .volume_section_mobile button {
        width: 26px; height: 26px;
    }
}
@media (max-width: 320px){

    .row {
        margin: 5px 0 !important;
    }
    .brand_section a.title {
        font-size: 9vw !important;
    }
    .brand_section .slides {
        padding: 7px 20px ;
        font-size: 3vw !important;
    }
    .brand_section .current_slide {
        font-size:3.6vw !important ;
    }
    .col .song_name {
        font-size: 7vw !important;
    }
    .action_btns button {
        font-size: 2.9vw !important;
    }
    .volume_section_mobile button {
        font-size: 2.9vw !important;
    }
}
